/*
    A collection of colors for the different elemental types of Pokemon.
*/

.elementIcon {
    height: 12px;
    width: 50px;
    border-radius: 30px;
    border-width: 2px;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    letter-spacing: 1px; /* Added to increase space between characters */
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
    font-size: 12px;
    overflow: hidden;
    vertical-align: middle;
    padding: 0px 0px 5px 0px;
    resize: none;
    text-shadow: -1px -1px 0 #C4C8C9, 1px -1px 0 #C4C8C9, -1px 1px 0 #FCFDFD, 1px 1px 0 #C4C8C9;
}

.elementIcon2 {
    height: 10px;
    width: 30px;
    border-radius: 10px;
    border-width: 2px;
    text-align: center;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    resize: none;
}



.dragon {
    color: #44127D;
    accent-color: #BAB9BF;
}

.electric {
    color: gold;
    accent-color: #BF9A1A
}

.fairy {
    color: #F8DBF3;
    background-color: #F4B1F4;
    accent-color: #F4B1F4;
}

.fire {
    color: #A81010;
    background-color: #DD5C17;
    accent-color: #FFD700;
}

.flying {
    background-color: #5BC2F7;
    color: #E2EFF4;
    accent-color: #FCFDFD;
    text-shadow: -1px -1px 0 #8D969B, 1px -1px 0 #A9AEAF, -1px 1px 0 #A9AEAF, 1px 1px #A9AEAF;
}

.ghost {
    color: #67606F;
    accent-color: #8A6FA8;
}

.ground {
    color: #504B43;
    background-color: #E0D4B1;
    border-color: #837B6C;
}

.ice {
    background-color: #BFFAF9;
    color: #6DD3F5;
    accent-color: #B3E1F5;
    text-shadow: -1px -1px 0 #878989, 1px -1px 0 #878989, -1px 1px 0 #878989, 1px 1px #878989;
}

.normal {
    color: #C4C8C9;
    accent-color: #FCFDFD
}

.poison{
    color: #6B2F8A;
    background-color: #A040A1;
    accent-color: #A040A1;
}

.psychic {
    color: #817587;
    background-color: #D775CE;
    accent-color: #F95587;
}

