.roster-slot {
    /* Add styles for roster slots */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    width: 20vw;
    height: 10vh;
    fill-opacity: 0.5;
    box-shadow: 0 0 5px #000;
    transform: skew(7deg);
}

.roster-slot:hover {
    border-color: gold;
    transform: scale(1.1) skew(7deg);
}
